/* main{
    display: flex;
    background-color: #E554731A;
    align-items: center;
    
}

main > section > img{
    width: 635px;
    height: 800px;
} */

.banner{
    display: flex;
    background-color: #E554731A;
    align-items: center;
    padding: 50px 240px 0px 240px;
    justify-content: space-between;

}

.banner-head{
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal; 
    width: 708px;
    height: 288px;
    /* margin-bottom: 0px; */
}

.banner-para{
    /* margin-top: 0px; */
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    width: 634px;
    height: 90px;
}

.banner-button{
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px; 
}

.inside-button{
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* .inside-banner{
    padding-right: 200px;
} */

.hot-deal{
    background-color: rgba(229, 84, 115, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 128px;
    padding-left: 395px;
    padding-right: 429px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.hot-deal-image{
    width: 318px;
    height: 420px;
    flex-shrink: 0; 
}

.hot-deal-header{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal; 
}

.hot-deal-para{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.hot-deal-section{
    text-align: center;
}

.insta-section{
    margin-top: 128px;
}

.insta-header{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal; 
}

.insta-para{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.insta-images{
    padding-right: 200px;
    padding-left: 200px;
}

.insta{
    width: 342px;
    height: 396px;
    flex-shrink: 0; 
    padding: 10px;
}

.latest-deal{
    padding-left: 240px;
    padding-right: 240px;
    background-image: url('images/Rectangle 9.png');
    width: 1440px;
    height: 449px; 
    /* align-items: center;
    justify-content: space-between; */
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: space-between;
    margin-top: 128px;

    
}

.deal-head{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 128px;
}

.deal-para{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.deal-input{
    width: 700px;
    height: 64px; 
    color: rgba(39, 39, 39, 0.60);
    /* text-align: center; */
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    border-radius: 8px;
    background: #FFF;   
    display: inline;
    justify-content: center;
    border: 0px;
}

.foot{
    background: #111010;
    padding: 128px 649px 179px 649px;
    margin-top: 128px;
}

.foot-h{
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal; 
    text-align: center;
}

.foot-p1{
    display: flex;
    width: 625px;
    /* flex-direction: column; */
    /* flex-shrink: 0;  */
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
}

.foot-p2{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.deal-form{
    align-items: center;
    justify-content: center;
    padding-left: 304px;
}

/* .random{
    align-content: center;
} */